################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BazargahNewTemplate/.vs
/BazargahNewTemplate/BazargahNewTemplate/bin/Debug/net8.0
/BazargahNewTemplate/BazargahNewTemplate/obj
/BazargahNewTemplate/BazargahNewTemplate/obj
