@model List<BazargahNewTemplate.Domain.UserEntities.User>
@{
    ViewData["Title"] = "لیست کاربران سیستم";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>لیست کاربران موجود در سیستم تستی</p>
</div>

@{
    if (Model != null && Model.Any())
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <span>@item.UserName</span>
                    <p>@item.FullName</p>
                </li>
            }
        </ul>
    }
    else
    {
        <h3>موردی برای نمایش وجود ندارد</h3>
    }
}
@section Scripts {
    <script>
        var test = 0;
    </script>
}