<h3>پنل کاربری</h3>

<ul>
    <li>
        <a asp-controller="User" asp-action="Register">
            فرم ثبت نام
        </a>
    </li>
    <li>
        <a asp-controller="User" asp-action="Login">
            ورود به سیستم
        </a>
    </li>
</ul>